<input type="hidden" name="wpsm_mail_meta_update" value="true" />
<table class="form-table" width="100%" cellspacing="2" cellpadding="5">
	<tr>
		<th scope="row" valign="top"><label for="<?php echo WPSM_MAIL_META_TITLE; ?>"> <?php _e('Template Title', WPSM_I18N_DOMAIN); ?>
		</label></th>
		<td><input type="text" name="<?php echo WPSM_MAIL_META_TITLE; ?>" id="<?php echo WPSM_MAIL_META_TITLE; ?>"
			value="<?php echo format_to_edit($title); ?>" style="width: 100%;" /></td>
	</tr>
	<tr>
		<th scope="row" valign="top"><label for="<?php echo WPSM_MAIL_META_SENDER; ?>"> <?php _e('From', WPSM_I18N_DOMAIN); ?>
		</label></th>
		<td><input type="text" name="<?php echo WPSM_MAIL_META_SENDER; ?>" id="<?php echo WPSM_MAIL_META_SENDER; ?>"
			value="<?php echo format_to_edit($from); ?>" style="width: 100%;" />
			<p class="description">
				Leave this blank to use whatever is the administrator address. This is currently
				<?php echo get_option ( 'admin_email' );?>
			</p></td>
	</tr>
	<tr>
		<th scope="row" valign="top"><label for="<?php echo WPSM_MAIL_META_SUBJECT; ?>"> <?php _e('Subject', WPSM_I18N_DOMAIN); ?>
		</label></th>
		<td><input type="text" name="<?php echo WPSM_MAIL_META_SUBJECT; ?>" id="<?php echo WPSM_MAIL_META_SUBJECT; ?>"
			value="<?php echo format_to_edit($subject); ?>" style="width: 100%;" /></td>
	</tr>
	<tr>
		<th scope="row" valign="top"><label for="<?php echo WPSM_MAIL_META_ATTACHMENT; ?>"> <?php _e('Attachment', WPSM_I18N_DOMAIN); ?>
		</label></th>
		<td id="file-upload"><input type="file" style="width: 100%;" name="<?php echo WPSM_MAIL_META_ATTACHMENT; ?>"
			id="<?php echo WPSM_MAIL_META_ATTACHMENT; ?>" /></td>
		<td id="file-name"><input type="text" style="width: 100%;" readonly="readonly" value="<?php echo $attachment; ?>"></input></td>
	</tr>
	<tr>
		<td colspan="2"><span class="description caution">We recommend that attachments are kept below 200kb. If your attachments are
				large, we suggest that you upload them to your media library and insert a link to the media in your mail. This will reduce the load on
				your server and speed up delivery of mail to your users. For more information on how to upload and add a link, visit <a
				href="http://www.supermail.com">http://www.supermail.com</a>
		</span></td>
	</tr>
</table>
