/* 
    Document   : wpsm-mail-send
    Created on : 30 Oct 2011, 1:12:18 PM
    Author     : Brady
    Description:
        Purpose of the stylesheet follows.
*/
#wpsm-mail-send h3 {
	margin: 1em 0;
	margin-bottom: 0.5em;
}


.form-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 2px;
}

.form-table td {
	padding: 5px;
}

.wpsm-error-list {
	margin-left: 20px;
	color: red;
}

.wpsm-error-list p {
	font-weight: bold;
}

.wpsm-error-list ul {
	list-style: disc;
}

.wpsm-error-list li {
	margin-left: 30px;
	font-style: italic;
}

.caution {
	color: #FF0000;
	font-style: italic;
	font-family: Calibri;
	font-weight: bold;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 11px !important;
}