table#mail_queue {
	
}

table#mail_queue tr th {
	background-color: #787878;
	color: white;
	padding: 2px;
	font-size: 14px;
}

table#mail_queue th {
	text-align: left;
}

table#mail_queue th#priority {
	width: 70px;
}

table#mail_queue th#date_to_send {
	width: 140px;
}

table#mail_queue th#user_login {
	width: 100px;
}

table#mail_queue th#post_title {
	width: 400px;
}

table#mail_queue th#status_desc {
	width: 70px;
}

table#mail_queue td.empty-queue {
	background-color: #787878;
	color: white;
	padding: 2px;
	padding-left: 10px;
}


.hidden {
	display: none;
}

.send-command {
	width: 500px;
}

.qty-text{
	width: 40px;
}

a.command{
	text-decoration: none;
}

.status-queued {
	color: #003399;
}

.status-hold {
	color: #808080;
}

.status-failed {
	color: #FF0000;
}

.status-forced {
	color: #FFCC00;
}

.status-busy {
	color: #FFFF00;
}

.status-sent {
	color: #00FF00;
}