#validation-errors {
	display: none;
}

#validation-errors li {
	color: red;
}

#mail-item-list {
	list-style: none;
	padding-left: 0;
}

#mail-item-template {
	display: none;
}

.mail-item {
	display: block;
}

.days-edit {
	width: 40px;
}

.mail-item-select {
	margin-left: 5px;
	width: 300px;
	height: 22px;
}

.mail-item-delete {
	margin-left: 5px;
}