.caution {
	color: #FF0000;
	font-style: italic;
	font-family: Calibri;
	font-weight: bold;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: medium !important;
}

.form-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 2px;
}

.form-table td {
	padding: 5px;
}