.hidden {
	display: none;
}

#file-upload {
	display: block;
}

#file-name {
	display: none;
}

#file-name input {
	
}

.caution {
	color: #FF0000;
	font-style: italic;
	font-family: Calibri;
	font-weight: bold;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 11px !important;
}