label.error, li.error {
	display: inline;
	background: #ffd2d2;
	padding: 0 10px;
}

label.inline-error, span.inline-error {
	display: inline;
	color: red;
	padding-left: 10px;
	padding-right: 10px;
	font-style: italic;
	font-weight: bold;
}

h4.error {
	display: block;
	background: #ffd2d2;
	padding: 0 10px;
}

#wpsm-top-error-container, #wpsm-bottom-error-container
{
	display: none;
}

.required-mark
{
	color: red;
}